.table {
  margin-top: 20px;
  overflow: scroll;
  height: 32rem;
  color: #6a5d5d;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #ebf5fc;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
